<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.wendao.mapper.CommentMapper">

    <insert id="insertComment">
        insert into comment,
            comment_article_id,
            comment_user_id,
            comment_content,
            comment_like_count,
            comment_created_time
        values (#{commentArticleId},
            #{commentUserId},
            #{commentContent},
            #{commentLikeCount},
            #{commentCount},
            #{commentCreatedTime})
    </insert>
    <delete id="deleteComment">
        delete
        from comment
        where comment_id = #{commentId}
    </delete>

    <select id="selectCommentById" resultType="com.example.wendao.entity.Comment">
        select comment_id,
               comment_article_id,
               comment_user_id,
               comment_content,
               comment_like_count,
               comment_count,
               comment_created_time
        from comment
        where comment_id = #{commentId}
    </select>
    <select id="selectAllComment" resultType="com.example.wendao.entity.Comment">
        select comment_id,
               comment_article_id,
               comment_user_id,
               comment_content,
               comment_like_count,
               comment_count,
               comment_created_time
        from comment
        where comment_article_id = #{commentArticleId}
        order by comment_created_time desc
    </select>
    <select id="selectLastInsertCommentId" resultType="java.lang.Integer">
        select max(comment_id)
        from comment
    </select>
    <select id="selectCommentLists" resultType="com.example.wendao.vo.CommentUserVo">
        select comment.*, user.avatar, user.nickname
        from comment
                 inner join user
        where comment_article_id = #{commentArticleId}
          and user_id = comment_user_id
        order by comment_created_time desc
    </select>
</mapper>